<app-collapsible-block
  [titleKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.TITLE'"
  [isExpanded]="isExpanded">

  <div class="fields-grid">
    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.ORGAN_SIZE'"
      [(value)]="model.organSize">
    </app-text-input-field>

    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.SPREAD'"
      [(value)]="model.spread">
    </app-text-input-field>

    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.BOUNDARIES'"
      [(value)]="model.boundaries">
    </app-text-input-field>

    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.IMMOBILIZATION'"
      [(value)]="model.immobilization">
    </app-text-input-field>

    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.FIXATION_DEVICE'"
      [(value)]="model.fixationDevice">
    </app-text-input-field>

    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.PATHOLOGICAL_MOBILITY'"
      [(value)]="model.pathologicalMobility">
    </app-text-input-field>

    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.DEFORMATION'"
      [(value)]="model.deformation">
    </app-text-input-field>

    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.HYPOTROPHY'"
      [(value)]="model.hypotrophy">
    </app-text-input-field>

    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.ATROPHY'"
      [(value)]="model.atrophy">
    </app-text-input-field>

    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.WOUND_SIZE'"
      [(value)]="model.woundSize">
    </app-text-input-field>

    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.FISTULA_SIZE'"
      [(value)]="model.fistulaSize">
    </app-text-input-field>

    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.WOUND_DISCHARGE'"
      [(value)]="model.woundDischarge">
    </app-text-input-field>

    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.PERIPHERAL_VESSEL_PULSATION'"
      [(value)]="model.peripheralVesselPulsation">
    </app-text-input-field>

    <app-text-input-field
      [labelKey]="'MAIN.EXAMINATION.EXPERT_EXAMINATION.SURGICAL_STATUS.ORGAN_FUNCTION_IMPAIRMENT.TROPHIC_CHANGES'"
      [(value)]="model.trophicChanges">
    </app-text-input-field>
  </div>

</app-collapsible-block>
