<div class="laboratory-data-form">

    <app-additional-methods [isExpanded]="isBlockExpanded(0)"></app-additional-methods>
    <app-blood-test [isExpanded]="isBlockExpanded(1)"></app-blood-test>
    <app-biochemical-blood-test [isExpanded]="isBlockExpanded(2)"></app-biochemical-blood-test>
    <app-urine-test [isExpanded]="isBlockExpanded(3)"></app-urine-test>

    <div class="form-actions">
        <p-button
                [label]="'MAIN.COMMON.SAVE' | translate"
                styleClass="save-button"
                (onClick)="onSave()">
        </p-button>
    </div>

</div>
