<div class="specialist-conclusion-form">

  <app-specialist-block
    #specialist1Block
    titleKey="MAIN.EXAMINATION.EXPERT_EXAMINATION.SPECIALIST_CONCLUSION.SPECIALIST_1_TITLE">
  </app-specialist-block>

  <app-specialist-block
    #specialist2Block
    titleKey="MAIN.EXAMINATION.EXPERT_EXAMINATION.SPECIALIST_CONCLUSION.SPECIALIST_2_TITLE">
  </app-specialist-block>

  <div class="form-actions">
    <p-button
      [label]="'MAIN.COMMON.SAVE' | translate"
      styleClass="save-button"
      (onClick)="onSave()">
    </p-button>
  </div>

</div>
